{{#unless App.store.mainUser.isEmpty}}
	{{#if App.store.mainUser.isInvalid }}
		<div class="error">
			{{t index.login.fail tagName="p"}}
		</div>
	{{/if}}
{{/unless}}
	<div class="inputGroup">
		{{t index.login.nameLabel tagName="label"}} {{view Ember.TextField valueBinding="App.loginController.userName"}}
	</div>
	<div class="inputGroup">
		{{t index.login.nameRepeatLabel tagName="label"}} {{view Ember.TextField valueBinding="App.loginController.repeatedUserName"}}
	</div>
	<button {{action attemptLogin target="App.loginController"}} class="signInButton"> 
{{t index.login.loginButton}} </button> 